<section class="users-section">
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>View</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
       <% if current_user != user %>
        <td><%= user.name %> </td>
        <td>
        <div class="buttons">
          <button class="button is-primary is-light">
          <i class="fas fa-eye mr-2"></i>
           <span>View Profile</span>
          </button>
        </div>      
        </td>
        <td>
        <div class="buttons">
          <button class="button is-info is-light"> 
          <i class="fas fa-user-plus mr-2"></i>
          <span>Add Friend</span></button>
          <span>Friend request sent</span></button>
        </div>
        </td>
      </tr>
    <% end %>
    <% end %>
    </tbody>
    </table>
</section>
