<section class="users-section">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>View</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <% if not_current_user?(user) %>
        <tr>
        <td><%= user.name %> </td>
        <td>
          <div class="buttons">
            <%= link_to user_path(user), class: 'button is-primary is-light' do %>
              <i class="fas fa-eye mr-2"></i>
              <span>View Profile</span>
              <% end %>
          </div>
        </td>
        <td>
      <% if current_user.friend_requests.include?(user) %>
        <div class="buttons">
            <%= link_to friendship_confirm_path(user), method: :post, class: "button is-success is-light" do %> 
            <i class="fas fa-user mr-2"></i>
            <span> Accept</span>
            <% end %>
        </div>
        <% end %>
        <%= display_action_btns(user) %>
        </td>
        </tr>
      <% end %>
     <% end %>
</tbody>
</table>
</section>
